.signup-box {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 35%;
    height: 35rem;
    border-radius: 7px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login {
    border: 1px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 1% 35%;
    padding: 1% 0;
    border-radius: 7px;
}